<section class="hero">
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Find your next stay where you can be yourself.
      </h1>
      <p class="hero__text">Search deals on hotels, homes, and much more...</p>
    </div>

    <div class="hero__content hero__content--search">
      <app-search />
    </div>

    <img
      width="816"
      height="659"
      src="assets/images/hero.png"
      alt=""
      class="hero__banner"
    />
  </div>
</section>

<app-property-list />
