/*
    Mixins
*/

@mixin sm {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 1366px) {
    @content;
  }
}

@mixin container {
  padding: 0 16px;
  max-width: var(--max_width);
  width: 100%;
  margin: 0 auto;
}

@mixin section {
  padding-block-end: 60px;
}

@mixin title-wrapper {
  margin-block-end: 32px;
}

@mixin img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-----------------------------------*\
  #Component Button
\*-----------------------------------*/

@mixin btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding-inline: 24px;
  border-radius: var(--radius-full);
  max-width: max-content;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

@mixin btn-fill {
  background-color: var(--primary-100);
  color: var(--neutral-100);

  &:where(:hover, :focus) {
    background-color: var(--primary-90);
    box-shadow: var(--shadow-1);
  }
  &:where(:active, :focus-visible) {
    background-color: var(--primary-80);
    box-shadow: var(--shadow-1);
  }
}

@mixin btn-outline {
  color: var(--primary-100);
  box-shadow: inset 0 0 0 2px var(--primary-100);

  &:where(:hover, :focus, :focus-visible) {
    color: var(--neutral-100);
  }

  &:hover {
    background-color: var(--primary-100);
  }

  &:focus {
    color: var(--primary-80);
  }

  &:where(:active, :focus-visible) {
    background-color: var(--primary-80);
  }
}

@mixin icon-btn {
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  background-color: var(--neutral-100);
  color: var(--neutral-10);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-3);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);

  &:where(:hover, :focus-visible) {
    background-color: var(--neutral-90);
  }
}
