*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a,
img,
span,
label,
input,
select,
button {
  display: block;
}

img {
  height: auto;
}

input,
select,
button {
  background: none;
  border: none;
  font: inherit;
}

input,
select {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

select {
  appearance: none;
}

fieldset {
  border: 0;
}
