//Font family
$font-primary: "Montserrat", sans-serif;

//Font size
$fs-base: 62.5%;
$fs-headline-large: 3.6rem;
$fs-headline-medium: 2.8rem;
$fs-headline-small: 2.8rem;
$fs-title-large: 2.2rem;
$fs-title-medium: 2rem;
$fs-title-small: 1.8rem;
$fs-body-large: 1.6rem;
$fs-body-medium: 1.6rem;
$fs-label-large: 1.6rem;
$sfs-label-medium: 1.4rem;

//Line height
$lh-headline-large: 44px;
$lh-headline-medium: 36px;
$lh-headline-small: 36px;
$lh-title-large: 28px;
$lh-title-medium: 24px;
$lh-title-small: 24px;
$lh-body-large: 24px;
$lh-body-medium: 24px;
$lh-label-large: 24px;
$lh-label-medium: 20px;

//Font weight
$weight-bold: 700;
$weight-semiBold: 600;
$weight-regular: 400;

//Letter spacing
$traking-n-025: -0.25px;
$traking-p-05: 0.5px;

//Border Radius
$radius-small: 8px;
$radius-medium: 12px;
$radius-large: 16px;
$radius-extra-large: 32px;
$radius-full: 1000px;
$radius-circle: 50%;

//Box Shadow
$shadow-1: 0px 2px 4px 0px #00000033;
$shadow-2: 0px 5px 10px 0px #0000000d;
$shadow-3: 0px 5px 10px 0px #00000033;
$shadow-4: 0px 10px 20px 0px #0000001a;

//Transition
$transition-easing-quick: cubic-bezier(0, 0.7, 0.3, 1);
$transition-duration-quick: 200ms;
$transition-duration-smooth: 500ms;
