<form action="" class="search">
  <label for="" class="search__item">
    <span class="search__label"> Location</span>

    <input type="text" placeholder="Street, City, Zip" class="search__input" />
    <i class="fa-solid fa-location-dot fa-lg search__icon"></i>
  </label>

  <label for="" class="search__item">
    <span class="search__label"> Location</span>

    <input type="text" placeholder="Street, City, Zip" class="search__input" />

    <i class="fa-solid fa-location-dot fa-lg search__icon"></i>
  </label>

  <label for="" class="search__item">
    <span class="search__label"> Location</span>

    <input type="text" placeholder="Street, City, Zip" class="search__input" />

    <i class="fa-solid fa-location-dot fa-lg search__icon"></i>
  </label>

  <button class="search__btn" type="submit">
    <i class="fa-solid fa-magnifying-glass"></i>

    <span class="search__info"> Search</span>
  </button>
</form>
