@import "styles/typograpy.scss";
@import "styles/colors.scss";
@import "styles/mixins.scss";

.footer {
  background-color: var(--primary-20);
  color: var(--neutral-90);

  &__container {
    @include container;
    padding-block: 60px;
    display: grid;
    gap: 24px;
  }

  &__brand {
  }

  &__text {
    margin-block: 16px;
    @include body-medium;
  }

  &__list {
    display: grid;
    gap: 16px;
  }

  &__listTitle {
    margin-block-end: 16px;
    @include title-small;
  }

  &__link {
    @include body-medium;
    transition: var(--transition-duration-quick) var(--transition-easing-quick);

    &:where(:hover, :focus-visible) {
      color: var(--primary-100);
    }
  }
}

@include mediaQuery_768px {
  .footer {
    &__container {
      padding-block: 80px;
      grid-template-columns: repeat(3, 1fr);
    }

    &__brand {
      grid-column: 1/4;
    }

    &__text {
      max-width: 400px;
    }
  }
}

@include mediaQuery_1440px {
  .footer__container {
    grid-template-columns: 580px repeat(3, 1fr);
  }

  .footer__brand {
    grid-column: auto;
  }
}
