<footer class="footer">
  <div class="footer__container">
    <div class="footer__brand">
      <a href="#" class="logo">
        <img
          width="190"
          height="28"
          src="assets/images/logo.png"
          alt="wealthome"
        />
      </a>

      <p class="footer__text">
        Lorem ipsum dolor sit amet consectetur. Non bibendum sit non congue
        pharetra pulvinar leo. Sed ut amet ipsum.
      </p>
    </div>

    <nav class="footer__nav" aria-labelledby="nav-label-1">
      <p class="footer__listTitle" id="nav-label-1">Quick link</p>

      <ul class="footer__list">
        <li>
          <a href="#" class="body-medium footer__link"> Home </a>
        </li>

        <li>
          <a href="#" class="footer__link"> Buy </a>
        </li>

        <li>
          <a href="#" class="footer__link"> Sell </a>
        </li>

        <li>
          <a href="#" class="footer__link"> Rent </a>
        </li>
      </ul>
    </nav>

    <nav class="footer__nav" aria-labelledby="nav-label-2">
      <p class="footer__listTitle" id="nav-label-2">Support</p>

      <ul class="footer__list">
        <li>
          <a href="#" class="footer__link"> About us </a>
        </li>

        <li>
          <a href="#" class="footer__link"> Contact us </a>
        </li>

        <li>
          <a href="#" class="footer__link"> Privacy Policy </a>
        </li>

        <li>
          <a href="#" class="footer__link"> Terms & Conditions </a>
        </li>
      </ul>
    </nav>

    <nav class="footer__nav" aria-labelledby="nav-label-2">
      <p class="footer__listTitle" id="nav-label-2">Support</p>

      <ul class="footer__list">
        <li>
          <a href="#" class="footer__link"> About us </a>
        </li>

        <li>
          <a href="#" class="footer__link"> Contact us </a>
        </li>

        <li>
          <a href="#" class="footer__link"> Privacy Policy </a>
        </li>

        <li>
          <a href="#" class="footer__link"> Terms & Conditions </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
