@import "styles/typograpy";
@import "styles/reset";
@import "styles/colors";
@import "styles/mixins.scss";

html {
  font-family: var(--font-primary);
  font-size: var(--fs-base);
  scroll-behavior: smooth;
}

body {
  background-color: var(--neutral-98);
  color: var(--neutral-5);
  font-size: var(--fs-body-medium);
  line-height: var(--lh-body-medium);

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--neutral-90);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--neutral-60);
    border-radius: 4px;
  }
}

main {
  margin-top: 60px;
}
